<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>密钥验证</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <input type="password" id="adminPasswd" placeholder="请输入管理员秘钥" maxlength="18"
        onkeydown="if(event.keyCode===13){switch2admin();}" />
    <script>
        function switch2admin() {
            var passwd = document.getElementById("adminPasswd").value;
            $.ajax({
                type: 'POST',
                url: 'http://127.0.0.1:8080/switch2admin',
                data: {passwd:passwd},
                dataType:'JSON',
                success:function(data){
                    alert(JSON.parse(JSON.stringify(data)).isOkay);
                },
                error:function(){
                    alert("There Is Error！");
                }
            })
        }
    </script>
</body>

</html>